@import url('style/header.css');
@import url('style/cabecalho.css');
@import url('style/metricas.css');
@import url('style/vagas.css');

:root {
        --fonte-principal:"Inter";
        --cor-de-fundo:#FFFFFF;
        --cor-do-botao-entrar:#667085;
        --cor-do-botao-cadastrar:#8E2424;
        --branco: #FFFFFF;
        --vermelho:#8E2424;
        --preto-titulo:#101828;
        --cor-do-texto:#667085;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

span {
    color: var(--vermelho);
    font-weight: 600;
}
