.metricas__titulo {
    color: var(--vermelho);
    font-size: 60px;
    font-weight: 600;
}

.metricas__sub-titulo {
    color: var(--preto-titulo);
    font-size: 18px;
    font-weight: 500;
    margin: 0.5em 0;
}

.metricas__texto {
    color: var(--cor-do-texto);
}
.metricas {
    display: flex;
    margin: 3em 7em;
}

.metricas__div {
    margin: 1em 4em;
}